#version=RHEL7
url --url http://{{ salt['grains.get']('ipv4')|first }}/os/centos/7/x86_64/
install

# System authorization information
auth --enableshadow --passalgo=sha512

firstboot --disable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
text
skipx

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password: 'pasword'  (you should probably change this before production)
rootpw --iscrypted $6$zkCtODxei4Xu$4/2Q/R9bpDHuLqvRIghG9LC2Y0U6NLO0QDF6yAGZFP2p/e9AuU/hbCLIIfn/vExQOfiYqkpqf671MCMzsdalg/
# System timezone
timezone America/Los_Angeles --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel 
# Disk partitioning information
part swap --fstype="swap" --ondisk=vda --size=459
part /boot --fstype="xfs" --ondisk=vda --size=500
part / --fstype="xfs" --ondisk=vda --size=40000

%packages
@base
@core
@development
@performance

%end

